.social_footer {
    img {
        max-width: 1.5rem;
        margin: .5rem;
    }
}

;

@media (max-width: 576px) {
    .social_footer {
        img {
            max-width: 3rem;
            margin: 0;
        }

        .col-2 {
            margin: 0 .7rem;
        }
    }
};