
.social_intro {
    img {
        max-width: 5rem;
    }
    a {
        text-decoration: none;
    }
};

@media (max-width: 576px) {
    .social_intro {
        img {
            max-width: 5rem;
            padding: .5rem;
        }
        a {
            text-decoration: none;
        }
    }
};

//Анимация 
.introAnimation > h3 {
    border-right: solid 6px #aaa;
    white-space: nowrap;
    overflow: hidden;
    color: var(--bs-heading-color);
    margin: 0 auto;
    max-width: max-content;
  }
  
  /* Animation */
  .introAnimation > h3 {
    animation: animated-text 2s steps(29,end) 1s 1 normal both,
               animated-cursor 600ms steps(29,end) infinite;
  }
  
  /* text animation */
  
  @keyframes animated-text{
    from{width: 0%;}
    to{width: 100%;}
  }
  
  /* cursor animations */
  
  @keyframes animated-cursor{
    from{border-right-color: #aaa;}
    to{border-right-color: transparent;}
  }