@import "vars";

// Базовые стили
@import "base/reset";
@import "base/typography";
@import "base/layout";

// Компоненты
@import "components/navigation";
@import "components/hero";
@import "components/cards";
@import "components/about";
@import "components/footer";
@import "components/modals";
@import "components/projects";
@import "components/sql-terminal";

// Утилиты
@import "utilities/animations";

// Bootstrap
@import "bootstrap/bootstrap";